.btn,
.primary {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  width: fit-content;

  border-radius: 20px;
  background-color: inherit;
  outline: 2px solid black;
}
.primary {
  outline: 2px solid white;
}
