.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  border-radius: inherit;
}
.leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  border-right: 2px solid black;
  padding: 0.5rem;

  height: 100%;
  width: 65%;
}
.rightDiv {
  width: 35%;

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.weatherIcon {
  border-bottom: 2px solid black;
  padding: 0 0.5rem;
}

.sunDiv {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sunDiv div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
