.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 0.5rem;

  border-radius: inherit;
  padding: 0.5rem;
}
.lowerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lowerDiv span {
  width: 30%;
}
