.SVGDiv {
  max-width: 25%;
  height: fit-content;
}
.SVGDiv svg {
  max-width: 100%;
  max-height: 100%;
}

.sectionOne {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
  border-bottom: var(--border-3);
  border-style: dashed;
}
.sectionOne:hover {
  background-color: var(--pastel-yellow);
}
.priceDiv {
  gap: 4px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.knowMore:hover {
  text-decoration: underline;
}
