@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "variables.css";
@import "classes.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  font-family: "Poppins", sans-serif;
}

*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 800;
}

:root {
  --swiper-navigation-size: 30px !important;
  --swiper-navigation-color: #000 !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #474747 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grey-bg);
  border-radius: 5px;
  border: 2px solid #ffffff;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: white;

  border-radius: 100%;
  height: 30px !important;
  width: 30px !important;
}
button {
  cursor: pointer;
}

.react-grid-item.react-grid-placeholder {
  background: inherit !important;
  border: 2px dashed black;
  border-radius: var(--b-radius-large-primary);
  opacity: 0.3 !important;
}

.skeleton {
  height: 100%;
  width: 100%;
  padding: 1rem;
}
