@import './globals.css';
@import './variables.css';

/* .primary {
  @include body-font(1.6rem, 400);
}

.secondary {
  @include secondary-font(1.6rem, 400);
}




.grey2 {
  color: $grey2;
}

.grey6 {
  color: $grey6;
}

.grey7 {
  color: $grey7;
}

.grey8 {
  color: $grey8;
}

.dark {
  color: $dark;
}

.black {
  color: $black;
}

.danger {
  color: $failure;
}

.success {
  color: $success;
}

.primary-color {
  color: $primary-color;
}

.primary-light {
  color: $primary-light;
}

.info {
  color: $info;
} */
.grey {
  color: var(--grey);
}
.light {
  color: rgb(255, 255, 255);
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
.tiny {
  font-size: 0.7rem;
}
.xxxs {
  font-size: 0.9rem;
}

.xxs {
  font-size: 1.1rem;
}

.xs {
  font-size: 1.2rem;
}

.sm {
  font-size: 1.3rem;
}

.md {
  font-size: 1.5rem;
}

.lg {
  font-size: 1.7rem;
}

.xl {
  font-size: 2rem;
}

.xxl {
  font-size: 2.4rem;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.noWrap {
  white-space: nowrap;
}
