@import "./globals.css";
@import "./variables.css";

/* .primary {
  @include body-font(1.6rem, 400);
}

.secondary {
  @include secondary-font(1.6rem, 400);
}

.grey2 {
  color: $grey2;
}

.grey6 {
  color: $grey6;
}

.grey7 {
  color: $grey7;
}

.grey8 {
  color: $grey8;
}

.dark {
  color: $dark;
}

.black {
  color: $black;
}

.danger {
  color: $failure;
}

.success {
  color: $success;
}

.primary-color {
  color: $primary-color;
}

.primary-light {
  color: $primary-light;
}

.info {
  color: $info;
} */
.info {
  color: var(--pastel-dark);
}

.grey {
  color: var(--grey);
}
.light {
  color: rgb(255, 255, 255);
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.heavy {
  font-weight: 800;
}

.tiny {
  font-size: 0.3rem;
}

.xxxs {
  font-size: 0.6rem;
}

.xxs {
  font-size: 0.75rem;
}

.xs {
  font-size: 0.92rem;
}

.sm {
  font-size: 1.1rem;
}

.md {
  font-size: 1.3rem;
}

.lg {
  font-size: 1.5rem;
}

.xl {
  font-size: 1.8rem;
}

.xxl {
  font-size: 2.2rem;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.noWrap {
  white-space: nowrap;
}

/*  
- 20 px
- 22 px 
- 18 px
- 12 px

Primary Color - #F5f5f9;
Another Color : #ffc29f;
font-family: Inconsolata;
Primary border: 4px solid black;
  border-radius: 2px;







*/
