.root,
.rootSmall {
  max-width: 70%;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--grey);

  text-align: right;
  align-self: flex-end;
}

.rootSmall {
  font-size: 0.6rem;
  font-weight: 800;
}
