.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.page {
  width: 75%;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  padding-top: 40px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main img {
  max-width: 35%;
}
.ul {
  font-family: "Mulish", sans-serif;
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.ul li a {
  opacity: 1;
}

.ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

.a {
  color: #1f1534;
  text-decoration: none;
}

.h1 {
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  line-height: 56px;
  color: #1f1534;
  font-weight: normal;
}

.h1 span {
  color: #89c5cc;
  font-weight: bold;
}

.section p {
  font-size: 20px;
  line-height: 28px;
  color: #7d7987;
  font-weight: 700;
  margin: 40px 0;
}

.button {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: black;
  background: #69b99d;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.button:hover {
  background: #5aa087;
}

.footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
}

.footer a {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .page {
    width: 90%;
    padding-top: 35px;
  }

  .h1 {
    font-size: 40px;
    width: auto;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section p {
    font-size: 19px;
    line-height: normal;
    width: 90%;
  }

  .button {
    margin: auto;
  }
}

.underlinehovereffect {
  text-decoration: none;
  color: inherit;
}

.underlinehovereffect {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.underlinehovereffect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 242, 255);
  transition: width 0.25s ease-out;
}
.underlinehovereffect:hover::before {
  width: 100%;
}
