.navbar,
.navbarChild {
  display: flex;
  padding: 1rem 1.5rem;
  flex-direction: row;
  align-items: center;
  border-bottom: var(--border-4);
  background-color: var(--pastel-yellow);
  justify-content: space-between;
}
.navbarChild {
  padding: 0;
  gap: 1rem;
  display: flex;
  border: 0;
  
}

.pref {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
