.navbar,
.navbarChild {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbarChild {
  padding: 0;
}

.pref {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
