.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  width: 80%;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  border: var(--border-4);
  box-shadow: var(--shadow-large);
  background-color: var(--pastel-white);
}
