.root {
  position: relative;
  display: flex;
  flex-direction: column;

  /* Change the height accordance to the APi */
  height: 130px;
  width: 240px;
  z-index: 0;
  border: var(--border-3);

  box-shadow: var(--shadow-large-card);
  border-radius: var(--b-radius-large-primary);
}

.grabber {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: grab;
  opacity: 0;
}
.grabber:active {
  cursor: grabbing;
}
.root:hover .grabber {
  transition: all 0.2s linear;
  opacity: 1;
}

.footer {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  width: 100%;

  position: absolute;
  bottom: 0;
  z-index: 4;

  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
.footerIcons {
  display: flex;
  gap: 0.5rem;
}

.mainContent {
  border-radius: inherit;
  overflow: hidden;
  height: 100%;
}
.editStub {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}
